h1, h2, h3, h4, p, li, section, span, div, button, textarea, input {
  font-family: 'Ubuntu', sans-serif;
  color: #555555;
}

input::placeholder, textarea::placeholder  {
  color: #999999;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

li h3 {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

section:nth-child(odd) {
  background-color: #cfeef1;
}

.section-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.row-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.row-list.team {
  justify-content: center;
}

.tech-logo-container {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.tech-logo-container:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

.tech-logo-container img {
  height: 90px;
}

.tech-logo-container h3, .service h3, .service p {
  color: #888888;
  transition: color 0.3s ease;
}

.tech-logo-container:hover h3, .service:hover h3, .service:hover p {
  color: #555555;
}

.service {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  padding: 30px;
}

.service i.fa {
  font-size: 45px;
  color: #999999;
  transition: color 0.3s ease;
}

.service:hover i.fa.fa-cloud-upload {
  color: #0080FF;
}

.service:hover i.fa.fa-hand-peace-o {
  color: #5FB404;
}

.service:hover i.fa.fa-user-circle-o {
  color: #08298A;
}

.service:hover i.fa.fa-paint-brush {
  color: #A901DB;
}

.service:hover i.fa.fa-cubes {
  color: #FF8000;
}

.service:hover i.fa.fa-cogs {
  color: #04B486;
}

.team-member{
  width: 300px;
  margin: 0 30px;
}

.team-member img {
  height: 250px;
}

.form-card{
  width: 80%;
  padding: 30px 0;
  align-self: center;
}

.blue-button {
  background-color: #cfeef1;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 0.3em;
}

.blue-button:hover {
  background-color: #a6dee3;
}

.blue-button:active {
  background-color: #48878d;
  color: white;
}

.field {
  width: 70%;
  background-color: #cfeef1;
  padding: 15px;
  font-size: 20px;
  border: 1px solid #c4e1e3;
  resize: none;
}

.sliders {
  height: 100%;
}

.ambulance-container {
  width: 500px;
  overflow-x: hidden;
}

.ambulance-and-light {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 100;
}

.ambulance-and-light .ambulance-vehicle {
  height: 300px;
}

.ambulance-and-light .ambulance-light {
  height: 60px;
  position: relative;
  left: -32px;
  top: 17px;
}

.ambulance-stones {
  position: relative;
  top: 12px;
  z-index: 110;
  width: 200%;
}

.ambulance-clear-road {
  position: relative;
  top: -108px;
  width: 200%;
}

.sewingmachine{
  z-index: 100;
  position: relative;
}

.needle{
  height: 74px;
  position: relative;
  bottom: 232px;
  left: 160px;
}

.loader{
  width: 97px;
  position: relative;
  bottom: 80px;
  left: 200px;
}

.cone{
  width: 80px;
  position: relative;
  bottom: 140px;
  right: 212px;
}