h1, h2, h3, h4, p, li, section, span, div, button, textarea, input {
  font-family: 'Ubuntu', sans-serif;
  color: #555555;
}

input::placeholder, textarea::placeholder  {
  color: #999999;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
 
  h3 {
    text-align: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  
  &:nth-child(odd) {
    background-color: #cfeef1;
  }
}

.section-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.row-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  &.team {
    justify-content: center;
  }
}

.tech-logo-container {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.3s ease;

  &:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  img {
    height: 90px;
  }
}

.tech-logo-container h3, .service h3, .service p {
  color: #888888;
  transition: color 0.3s ease;
}

.tech-logo-container:hover h3, .service:hover h3, .service:hover p {
  color: #555555;
}

.service {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  padding: 30px;

  i.fa {
    font-size: 45px;
    color: #999999;
    transition: color 0.3s ease;
  }

  &:hover {
    i.fa.fa-cloud-upload {
      color: #0080FF;
    }

    i.fa.fa-hand-peace-o {
      color: #5FB404;
    }
    
    i.fa.fa-user-circle-o {
      color: #08298A;
    }
    
    i.fa.fa-paint-brush {
      color: #A901DB;
    }
    
    i.fa.fa-cubes {
      color: #FF8000;
    }
    
    i.fa.fa-cogs {
      color: #04B486;
    }
  }
}

.team-member {
  width: 300px;
  margin: 0 30px;

  img {
    height: 250px;
  }
}

.form-card {
  width: 80%;
  padding: 30px 0;
  align-self: center;
}

.blue-button {
  background-color: #cfeef1;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 0.3em;

  &:hover {
    background-color: #a6dee3;
  }

  &:active {
    background-color: #48878d;
    color: white;
  }
}

.field {
  width: 70%;
  background-color: #cfeef1;
  padding: 15px;
  font-size: 20px;
  border: 1px solid #c4e1e3;
  resize: none;
}

#ambulance-block {
  &:hover {
    background: #f3c551;
  }

  .ambulance-and-light {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1em;
    z-index: 100;
  }
  
  .ambulance-and-light .ambulance-vehicle {
    height: 9em;
  }
  
  .ambulance-and-light .ambulance-light {
    position: relative;
    width: 4.8em;
    left: 4.1em;
    top: 0.5em;
  }
  
  .ambulance-stones {
    position: relative;
    width: 32em;
    top: 1.5em;
    z-index: 110;
  }
  
  .ambulance-clear-road {
      position: relative;
      width: 34em;
      top: -3.6em;
  }
}

#sewingmachine-block {
  &:hover {
    background: pink;
  }

  .sewingmachine {
    z-index: 100;
    position: relative;
    top: 2.0em;
    height: 13.0em;
  }

  .needle{
    height: 5.0em;
    position: relative;
    bottom: 1.0em;
    left: -2.6em;
  }
}

#loader-block {
  &:hover {
    background-color: rgb(172, 216, 100);
  }

  .iphone{
    top: 9em;
    right: 0.0em;
    width: 16.0em;
    position: relative;
  }
  
  .loader{
    width: 3.0em;
    position: relative;
    top: 2.8em;
    right: 0.0em;
  }
  
  .cone{
    width: 4em;
    position: relative;
    right: 6em;
    top: 6em;
  }
}

#lifter-block {
  &:hover {
    background-color: #5aa9e3;
  }

  .stand-left {
    position: relative;
    height: 12em;
    right: 3.5em;
    bottom: -2.5em;
  }

  .stand-right {
    position: relative;
    height: 12em;
    bottom: 17em;
    right: -1em;
  }

  .cloud {
    position: relative;
    height: 7.0em;
    bottom: 8.0em;
    right: -1.0em;
  }
}

.header-blocks {
  display: flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
}

.block-item {
  width: 15vw; 
  height: 15vw; 
  font-size: 1vw;
  overflow: hidden;
  background-color: #b3d2d5;
  margin: 0.7vw;
  transition: all 0.3s;
  /* transform: scale(1); */

  @media screen and (max-width: 480px) {
    width: 100px; 
    height: 100px; 
    font-size: 6.5px;
  }
  
  .animation-container {
    filter: grayscale(100%)
  }
  
  &:hover {
    transform: scale(1.1);
    
    .animation-container {
      filter: grayscale(0%);
    }
  }
}

.block-item-pair {
  display: flex;
}