

ul.row-list {
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

li h3 {
  text-align: center;
}

.tech-logo-container {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.tech-logo-container:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

.tech-logo-container img {
  height: 90px;
}

.tech-logo-container h3 {
  color: #999999;
}

.tech-logo-container:hover h3 {
  color: #555555;
}

.service {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  padding: 30px;
}

.row-list {
  flex-wrap: wrap;
}

.service {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.service:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

.service h3 {
  color: #999999;
}
